body {
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
    background: #fff;
    margin: 0;
    padding: 20px;
}
.panel {
    text-align: center;
}
svg {
    background: #88539e;
    border: 0px solid #ccc;
    margin-top: 10px;
}
.node {
    fill: #bea65e;
    stroke: #000;
}
.node.highlight {
    fill: #0c0b00;
}
.link {
    stroke: #aad;
}
.link.highlight {
    stroke: #7db368;
    stroke-width: 2px;
}

.node.selected {
    fill: #ebeae6; /* or any distinct color */
    stroke: #000;
    stroke-width: 2px;
}

.node.normal {
    fill: green;
}

.node.infected {
    fill: red;
}

.node.risky{
    fill: orange; opacity: 0.5;
}

.node.people {
    fill: rgb(143, 226, 143);
}

.node.influencer {
    fill: rgb(10, 10, 236);
}

.node.crowd {
    fill: rgb(227, 139, 211); opacity: 0.5;
}